<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <% if(locals.user) { %>
            <div class="container">
                <h1>Welcome back <%= user.fullname %></h1>
                <% if(success_msg.length > 0) { %>
                    <div>
                        <%= success_msg %>
                    </div>
                <% } %>
                <% if(user.memberstatus) { %>
                    <p>Member Badge</p>
                    <a href="/new-message">New Message</a>
                <% } %>
                <% if(!user.memberstatus) { %>
                    <p>You need to be a member to post messages !</p>
                    <a href="/become-member">Become A Member!!</a>
                <% } %>

                <% if(messages.length !== 0) { %>
                    <h1>Messages</h1>
                    <div class="message-container">
                        <% messages.forEach(message => { %>
                            <div style="border: 1px solid black; width: 10%; text-align: center; margin-bottom: 1rem;">
                                <h3>Author: <%= message.username %></h3>
                                <h4><%= message.title %></h4>
                                <p><%= message.description %></p>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
                <a href="/log-out">LOG OUT</a>
            </div>
        <% } else { %>
            <h1>Please log in</h1>
            <form action="/log-in" method="POST">
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="username" type="text" />

                <label for="password">Password</label>
                <input id="password" name="password" type="password" />

                <button type="submit">Log In</button>
                <hr>

                <% if(messages.length !== 0) { %>
                    <h1>Messages</h1>
                    <div class="message-container">
                        <% messages.forEach(message => { %>
                            <div style="border: 1px solid black; width: 10%; text-align: center; margin-bottom: 1rem;">
                                <h3>Author: *****</h3>
                                <h4><%= message.title %></h4>
                                <p><%= message.description %></p>
                            </div>
                        <% }) %>
                    </div>
                <% } %>

                <a href="/sign-up">Sign Up?</a>
            </form>
        <% } %>
    </body>
</html>